body {
  height: 2000px;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

.hero{
position:relative;
height:100vh;
width:100%;
overflow:hidden;
}

/* slider */

.slider{
display:flex;
height:100%;
transition:transform 0.8s ease-in-out;
}

.slide{
min-width:100%;
height:100%;
position:relative;
}

/* image */

.slide img{
width:100%;
height:100%;
object-fit:cover;
display:block;
}

/* blue overlay */

.slide::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(17, 24, 54, 0.82);
z-index: 2;
}

/* text content */

.hero-content{
position:absolute;
top:50%;
left:120px;
transform:translateY(-50%);
color:#fff;
z-index:2;
max-width:650px;
}

.hero-content h1{
font-size:70px;
font-weight:700;
line-height:1.2;
margin-bottom:20px;
}

.hero-content p{
font-size:18px;
line-height:1.6;
margin-bottom:35px;
color:#e5e5e5;
}

/* button */

.hero-btn{
padding:15px 40px;
border:2px solid #fff;
background:transparent;
color:#fff;
font-size:16px;
cursor:pointer;
position:relative;
overflow:hidden;
transition:0.3s;
}

/* button hover slide */

.hero-btn::before{
content:"";
position:absolute;
top:0;
left:-100%;
width:100%;
height:100%;
background:#ff2b55;
transition:0.4s;
z-index:-1;
}

.hero-btn:hover::before{
left:0;
}

.hero-btn:hover{
border-color:#ff2b55;
}

/* arrows */

.arrow{
position:absolute;
top:50%;
transform:translateY(-50%);
color:#fff;
font-size:22px;
background:rgba(255,255,255,0.25);
padding:12px 20px;
border-radius:50%;
cursor:pointer;
z-index:3;
transition:0.3s;
}

.arrow:hover{
background:#ff2b55;
}

/* arrow position */

.left{
left:40px;
}

.right{
right:40px;
}

/* 🔥 SCROLL BUTTON */


.scroll-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;

  background: rgba(176, 44, 66, 0.7); 
  color: white;

  font-size: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: pointer;

  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);

  border: 3px solid rgba(244, 4, 4, 0.4);
  /* box-shadow: 0 4px 20px rgba(0,0,0,0.2); */
}

.scroll-btn:hover {
  background: red;
   

}